*,
*::before,
*::after { 
    box-sizing: border-box; 
    // margin: 0;
    // padding: 0;
}

h1,
h2,
h3,
p {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Add each font
// @font-face {
//     font-family: '';
//     src: url();
// }

:root {
    /*Colours */
    --base-colour: #080029;
    --white-colour: #F9F9F9;
    --primary-colour: #BA32F2;
    --secondary-colour: #631B9A;
    --tertiary-colour: #2C0A54;
}

/* DEFAULTS */
p {
    font-family: 'SourceSansPro-light', sans-serif;
    font-size: 20px;
    color: inherit;
}

a {
    font-family: 'Vonique-92', sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: inherit;
}

h2{
    font-family: 'Vonique-64-bold-italic', sans-serif;
    font-size: 35px;
    color: inherit;
}

h3 {
    font-family: 'Vonique-64', sans-serif;
    font-size: 25px;
    color: inherit;
}

// For setting theme choice based on user
// @media (prefers-color-scheme: light) {
//     :root {
//         color: #213547;
//         background-color: #ffffff;
//     }
//     a:hover {
//         color: #747bff;
//     }
//     button {
//         background-color: #f9f9f9;
//     }
// }

.btn{

}

.btn:hover{
    
}

/* DEFAULT PAGE LOGIC */
.page{
    // width: 90%;
    width: min(1160px, 100% - 4rem);
    margin-inline: auto;
}


// MOBILE DESIGN FIRST

/* RESPONSIVE */

// MOBILE DESIGN FIRST
// MOBILE DESIGN FIRST
// MOBILE DESIGN FIRST
// MOBILE DESIGN FIRST
// MOBILE DESIGN FIRST