.navbar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 2rem 0;
    width: min(100%, 100% - 8rem);
    margin-inline: auto;
    align-items: center;

    .mobile-menu{
        display: none;
    }

    a{
        position: relative;
        content: '';
        left: 0;
    }

    a::before{
        content: '';
        top: 120%;
        opacity: 0;
        filter: blur(1.75em);
        background: var(--primary-colour);
        transform: perspective(1em) rotateX(40deg) scale(1, .35);
        transition: opacity 200ms linear, transform 100ms linear;
    }

    a::before{
      position: absolute;
      pointer-events: none;
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    a:hover::before,
    a:focus::before
    {
      opacity: 0.6;
    }
}


@media only screen and (max-width: 850px) {
    .navbar{
        .mobile-menu{
            display: block;
        }

        >a{
            display: none;
        }
    }
}